h1 {
    color: #999;
    margin-bottom: 10;
    font-size: 2em;
}
.menu {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;

}
.active-link {
    color: #F20B22;
} 


.mainContent{
	height:400px;
	width:950px;
}
.leftMenu{
	height:250px;
	background-color: #D8D8D8;
	width:400px;
}
.footer{
	
	
	text-align:center;
}
.header{
	
	height:60px;
	width:500px;
	text-align:center;
	border: 1px solid;
}
a {
	display:block;
	padding:5px;
}